LOCATION=TODO

# Must match the device filter baked into the Grafana dashboard queries
INFLUX_DEVICE_NAME=RPi_aht20

INFLUX_ORG=home
INFLUX_USERNAME=TODO
INFLUX_PASSWORD=TODO
INFLUX_API_KEY=TODO

GRAFANA_PASSWORD=TODO